- extends "base.html"

- block(:body) do
  %h1 Status code 404 - Page not found
  %p
    Sorry, but the page you are looking for has not been found. Try checking the URL for errors...

  %h2 or
  %p
    continue to blog's <a href="/">homepage</a>.
