- extends "base.html"

- block(:body) do
  %h1 About
  %p
    I love to do <strong>creative things</strong> which can be to service for others. In my eyes making money for the sake of making money is just not enough: it has to be useful, it has to help to make the world a better place.

  %p
    I'm a <strong>visionaire</strong> and I'm trying to see the future without any bias. Therefore I see many opportunities a long time before other people. I had a Git-based deployment long time before Heroku did it for example. I also created <a href="http://github.com/botanicus/pupu">the first framework with template inheritance in Ruby</a>.

  %p
    <strong>I don't settle down for good enough</strong>, I always want the best. That creates problems as the other people usually don't give a damn, but for me it's crutial. I mean people usually can't be arsed to use their bloody brain and they just do what the others do. <strong>I love people who know what they want. I'm really bored by boring, "me too" people.</strong>

  %p
    I've been kicked out of my high school, because I haven't been going there very often as I considered it to be a waste of time. <strong>I value my time</strong>, so the decision to not care about school was a great decision.

  %p
    <strong>I need to be free</strong>: I hate schools, day jobs and all this crap. I tried to have a day job for couple of months, but it was just a major pain in the arse. No more. I work as a Ruby contractor now on a very flexible terms. I don't go to the office very often, I work remotely from any place on Earth I wish to and because I'm not after money, I work usually only 2 or 3 days per week.

  %p
    I do a lot of side projects, a huge number of <abbr title="Open source software">OSS</abbr> and I'm trying to build my own company as it's my dream for years.

  %p
    I think you got the picture by now.


  %h2 Get in touch!
  %ul
    %li
      %a{href: "http://github.com/botanicus"} My GitHub
    %li
      %a{href: "http://twitter.com/botanicus"} My Twitter
    %li
      %strong E-mail:
      %a{href: "mailto:stastny@101ideas.cz"} stastny@101ideas.cz
    %li
      %strong Jabber:
      %a{href: "mailto:stastny@101ideas.cz"} botanicus@njs.netlab.cz
